@import "tailwindcss";

@theme {
  --color-safari-orange: #F28C28;
  --color-safari-green: #1B5E20;
  --color-safari-gray: #4B5563;
  --color-dark-footer: #2D1F1B;
  --color-hero-dark: rgba(0,0,0,0.45);
  --color-hero-light: rgba(0,0,0,0.1);
}
